
.screen1_header_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* padding: 3em 0; */
    /* border: 2px solid red; */

}

.screen1_heading_bg_img{
    /* height: 120%;
    width: 120%; */
    z-index: 1;

}

.screen1_heading{
    position: absolute;

    /* box-shadow: 0px 0px 11.047767639160156px 0px #00000040; */
    font-family:var(--Short_Stack);
    font-size: 3rem;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    z-index: 2;
    color: white;

    

}

.screen1_paragraph{
    font-family: var(--Short_Stack);
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.06em;
    text-align: left;
    /* padding: 0.2em 0; */
    z-index: 2;

}

.screen1_third_para{
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    /* padding: 0 3em; */
    /* font-weight: 200 !important; */
    /* padding-top: 4em; */
    /* border: 2px solid red; */




}

.screen1_third_para_bg_img{
    width: 100%;
    /* max-height: min-content; */
    z-index: -1;
    /* height: 150px;
    object-fit: contain; */

}
.screen1_third_para_text{
    position: absolute;

    padding: 1.2em;
    width: 85%;
    color: white;
    /* border: 2px solid red; */
}

.screen1_child_graphic_img{
    position: absolute;
    right: 3%;
    padding-top: 2%;
    width: 9%;
    /* bottom: -20; */

}

.screen1_clouds_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 2em 0;


}

.screen1_cloud{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 17%;

}

.screen1_cloud_img{
    width: 100%;


}

.screen1_cloud_content{
    position: absolute;

    font-family: var(--Short_Stack);
    font-size: 2rem;
    font-weight: 400;
    line-height: 20px;
    text-align: center;


}

.screen1_bottom_para{
    position: relative;
    width: 100%;
    padding-top: 4em;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.screen1_para_bg_box{
    width: 100%;

}

.screen1_bottom_para_text{
    position: absolute;
    padding: 1em;
    width: 92%;

}

@media (max-width: 1024px) {

    .screen1_heading_bg_img{
        width: 430px;
    }
    .screen1_heading{
        font-size: 2.5rem;
    }
    .screen1_paragraph{
        font-size: 1.9rem;

    }
    .screen1_third_para_text{
        font-size: 1.5rem;
    }
    .screen1_cloud_content{
        font-size: 1.5rem;
    }
    .screen1_bottom_para_text{
        font-size: 1.5rem;
    }

}

@media (max-width: 768px) {

    .screen1_heading_bg_img{
        width: 360px;
    }
    .screen1_heading{
        font-size: 1.8rem;
    }
    .screen1_paragraph{
        font-size: 1.5rem;

    }
    .screen1_third_para_text{
        font-size: 1.1rem;
    }
    .screen1_cloud_content{
        font-size: 1.1rem;
    }
    .screen1_bottom_para_text{
        font-size: 1.1rem;
    }

}
