.screen1_box{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 2px solid red; */

}

.screen1_week1_img{
    position: absolute;
    top: 1%;
    left: 12%;
    width: 180px;
    
}

.hints_btn{
    right: 0;
    width: 6.8%;
    position: absolute;
    cursor: pointer;
}

.screen1_main_box{
    transition: 0.5s;
    background-color: white;
    width: 87%;
    /* height: 80%; */
    border-radius: 15px;
    padding: 3.5em;
    margin-top: 11em;
    z-index: 20;

    /* margin-top: 5%; */
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

.screen1_footer{
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

.screen1_communications_img{
    width: 45px;
    cursor: pointer;
    z-index: 2;
}


.screen1_nav_container{
    display: flex;
    align-items: center;

}

.screen1_nav_btn{
    width: 45px;
    cursor: pointer;
}

.dropdown select {
    height: 100%;
    background-color: #CD3F97;
    border: 2px solid #F8EBFD;
    border-radius: 5px;
    width: 70px;
    font-family: var(--Short_Stack);
    padding: 10px 8px;
    color: white;

    padding: 8px; 
    font-size: 1.6rem; 
    cursor: pointer; 
    margin: 0 0.5em;
}
  
.dropdown select:hover {
    border-color: white; 
}
  
.dropdown select:focus {
    outline: none; 
}

.dropdown select::-ms-expand {
    display: none; 
}

.dropdown select option {
    padding: 2em !important; 
    font-size: 1.5rem; 
    background-color: #CD3F97;
    color: white; 
    cursor: pointer;
}
  
.dropdown select option:hover {
    background-color: #CD3F97; 
    
}
  
.dropdown select option[selected] {
    background-color: #CD3F97; 
    color: #fff; 
}

@media (max-width: 1024px) {
    .screen1_week1_img{
        width: 150px;
        top: 2%;
    }
    .screen1_communications_img{
        width: 40px;
    }

    .screen1_nav_btn{
        width: 40px;
    }
}

@media (max-width: 768px) {
    .screen1_week1_img{
        width: 120px;
        top: 3%;
    }
}